// BEGIN of CSS RESET

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline

// HTML5 display-role reset for older browsers

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
  display: block

// END of CSS RESET

// 1 - END of Including files ("fonts.css", "reset.css" and others) ----------------------------------------------------------
// 2 - BEGIN of Tags and General styles ----------------------------------------------------------

body
  min-height: 500px
  margin: 0 auto
  font-family: Montserrat, sans-serif
  font-weight: normal
  font-size: 16px
  color: #141414


h1, .h1
  margin-bottom: 70px
  text-align: center
  font-size: 39px
  line-height: 39px
  font-weight: 900
  text-transform: uppercase


h2,.h2
  font-size: 36px
  font-weight: 900
  text-transform: uppercase

h3,.h3
  font-size: 24px
  line-height: 30px
  font-weight: 800

h4, .h4
  margin-bottom: 40px
  font-size: 21px
  line-height: 25px
  font-weight: bold
  color: $main
  text-align: right

h5, .h5
  margin-bottom: 12px
  font-size: 18px
  font-weight: 500
  text-transform: uppercase

h6, .h6
  margin-bottom: 12px
  font-size: 12px
  font-weight: 800

p
  line-height: 24px

a
  color: #141414
  text-decoration: none
  outline: none
  -webkit-transition: all .3s ease
  -o-transition: all .3s ease
  transition: all .3s ease
  &:hover
    opacity: 0.7
    text-decoration: none
    outline: none
    color: inherit
  &:active
    opacity: 0.6
    outline: none
    color: inherit
    text-decoration: none
  &:focus
    outline: none
    color: inherit
    text-decoration: none

button, input, textarea, select
  padding: 0
  -webkit-transition: all .3s ease
  -o-transition: all .3s ease
  transition: all .3s ease

button:hover, input:hover, textarea:hover, select:hover
  opacity: 0.8

strong
  font-weight: bold

em
  font-style: italic

img
  max-width: 100%

*
  box-sizing: border-box


*::-webkit-input-placeholder 
  color: #141414
  font-size: 25px
  font-weight: 900

*:-moz-placeholder 
  color: #141414
  font-size: 25px
  font-weight: 900


*::-moz-placeholder 
  color: #141414
  font-size: 25px
  font-weight: 900


*:-ms-input-placeholder 
  color: #141414
  font-size: 25px
  font-weight: 900





.container
  margin: 0 auto
  width: auto
  max-width: 1900px


.slick-slide
  outline: none