
@font-face
  font-family: 'Montserrat'
  src: url('../fonts/Montserrat/Montserrat-Bold.woff2') format("woff2"), url('../fonts/Montserrat/Montserrat-Bold.woff') format("woff")
  font-weight: bold
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Montserrat'
  src: url('../fonts/Montserrat/Montserrat-Regular.woff2') format("woff2"), url('../fonts/Montserrat/Montserrat-Regular.woff') format("woff")
  font-weight: normal
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Montserrat'
  src: url('../fonts/Montserrat/Montserrat-Light.woff2') format("woff2"), url('../fonts/Montserrat/Montserrat-Light.woff') format("woff")
  font-weight: 300
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Montserrat'
  src: url('../fonts/Montserrat/Montserrat-Medium.woff2') format("woff2"), url('../fonts/Montserrat/Montserrat-Medium.woff') format("woff")
  font-weight: 500
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Montserrat'
  src: url('../fonts/Montserrat/Montserrat-ExtraBold.woff2') format("woff2"), url('../fonts/Montserrat/Montserrat-ExtraBold.woff') format("woff")
  font-weight: 800
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Montserrat'
  src: url('../fonts/Montserrat/Montserrat-Black.woff2') format("woff2"), url('../fonts/Montserrat/Montserrat-Black.woff') format("woff")
  font-weight: 900
  font-style: normal


.icon
  position: relative
  display: inline-block

  &-user
    width: 26px
    height: 33px
    background: url(../img/icon/icon-user.png)

  &-cash
    display: inline-flex
    width: 61px
    height: 61px
    border-radius: 50%
    background: url(../img/icon/icon-cash.png) no-repeat center
    background-color: $main