@import "vars"
@import "fonts"
@import "base"
// 2 - END of Tags styles and General styles ----------------------------------------------------------
// 3 - BEGIN of header ----------------------------------------------------------



.header
	position: relative
	height: 176px
	max-width: 1920px
	margin: 0 auto
	background: url(../img/header-bg.png) no-repeat
	transition: all .3s
	z-index: 10
		
	&-wrap
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		align-items: center
		padding-top: 14px

	&-btn

		.btn
			width: 256px
			margin-left: 14px

	

		

.btn
	display: inline-block
	padding: 22px 34px 19px
	font-weight: bold
	font-size: 16px
	text-align: center
	text-transform: uppercase
	border-radius: 38px
	color: #141414
	background: $main
	outline: none
	border: none

	&:hover, &:focus
		outline: none
		color: #141414
		background: $main
		opacity: 1
		

		&:active
			outline: none
			

	&-transparent
		padding: 16px 34px 14px
		color: $main
		border: 5px solid $main
		background: transparent
		box-shadow: none

		&:hover, &:focus
			outline: none

			&:active
				

		&:active

	&-user
		position: relative

		.icon
			position: absolute
			right: 18px
			top: 7px

	&-dark
		padding: 12px 34px 10px
		font-size: 22px
		outline: none
		border: 0
		font-weight: bold
		text-transform: uppercase
		color: #ececec
		background: #141414
		border-radius: 34px

	&-small
		padding: 14px 34px 12px
		font-size: 12.5px
		font-weight: 800

	&-black
		padding: 10px 20px 8px
		font-size: 12px
		font-weight: bold
		color: $main
		background: #141414




.mobile-menu
	display: none

.content
	max-width: 1920px
	margin: 0 auto

	&-wrap
		display: flex
		flex-wrap: wrap

	&-main
		width: calc(100% - 734px)
		padding-right: 40px
		padding-left: 15px
		padding-top: 40px
		padding-bottom: 160px


.sidebar

	&-left
		position: relative
		top: -12px
		width: 414px
		height: 584px
		padding-left: 50px
		padding-top: 80px
		background: url(../img/sidebar-bg.png) no-repeat

	&-right
		width: 320px

		&__item
			margin-bottom: 40px
			background: #141414
			border-radius: 30px

			&--header
				margin-bottom: 50px
				font-size: 31px
				line-height: 31px
				text-align: right
				font-weight: bold
				text-transform: uppercase
				color: $main


.main-menu
	
	li
		max-width: 256px
		margin-bottom: 20px

		a
			position: relative
			height: 60px
			display: flex
			align-items: center
			padding-left: 54px
			font-weight: bold
			font-size: 16px
			color: $main
			text-transform: uppercase
			border: 5px solid $main
			border-radius: 38px
			outline: none


			&:before
				content: ''
				position: absolute
				left: 15px
				top: 11px
				width: 27px
				height: 27px
				border-radius: 50%
				background: $main



.user

	&-info
		display: flex
		flex-direction: column
		justify-content: space-between
		min-height: 330px
		padding: 15px 30px 30px

		&__cash
			display: flex
			align-items: center
			justify-content: flex-end

			strong
				font-size: 39px
				color: $main

			.icon
				margin-left: 20px

		&__btn

			.btn
				width: 100%
				margin-bottom: 20px

				&:last-child
					margin: 0

	&-description
		padding: 25px 30px 40px

		&__header
			margin-bottom: 40px
			font-size: 21px
			line-height: 25px
			font-weight: bold
			color: $main
			text-align: right

		.btn
			padding-top: 0
			padding-bottom: 0
			min-height: 60px
			display: flex
			align-items: center
			justify-content: center
			line-height: 16px


.profile

	&-form
		max-width: 460px
		margin: 0 auto

		&__img
			margin-bottom: 30px
			text-align: center

		&__item
			position: relative
			margin-bottom: 20px

			&--btn
				position: absolute
				right: 20px
				top: 13px
				padding: 8px 14px
				font-size: 14px
				outline: none
				border: 0
				font-weight: bold
				text-transform: uppercase
				color: #ececec
				background: #141414
				border-radius: 20px
				z-index: 1

				&+.profile-form__field
					padding-right: 164px


		&__field
			width: 100%
			padding: 0 25px
			height: 60px
			line-height: 60px
			color: $main
			border: 5px solid #ececec
			background: transparent
			border-radius: 30px
			outline: none
			font-size: 25px
			font-weight: 900
			text-transform: uppercase

			&:focus
				border-color: #141414

		&__btn
			padding-top: 40px
			text-align: center


.footer
	height: 176px
	max-width: 1920px
	margin: 0 auto
	background: url(../img/header-bg.png) no-repeat



.investment
	display: flex
	flex-wrap: wrap
	max-width: 1010px
	margin: 0 auto

	.h3
		margin-bottom: 30px
		text-align: center

	&-item
		margin-bottom: 80px

		&__img
			margin-bottom: 24px

		&__text
			margin-bottom: 24px

			p
				font-weight: 500
				text-transform: uppercase

		&__btn
			text-align: center




.collected

	&-header
		margin-bottom: 30px
		font-size: 21px
		color: $main
		text-transform: uppercase
		font-weight: 800

	&-line
		position: relative
		margin-bottom: 16px

		&:before
			content: ''
			position: absolute
			left: -1px
			top: -5px
			width: 17px
			height: 17px
			border-radius: 50%
			background: $main

		&:after
			content: ''
			position: absolute
			right: -1px
			top: -11px
			width: 29px
			height: 29px
			border-radius: 50%
			background: $main

		&__wrap
			position: relative
			height: 7px
			background: $main

		span
			position: absolute
			right: 0
			top: -20px
			font-weight: 800


	&-bottom
		display: flex
		justify-content: space-between
		align-items: center
		margin-bottom: 30px

		span
			font-weight: 800



.support
	max-width: 600px
	margin: 0 auto

	&-list
		list-style: none

		li
			display: flex
			flex-wrap: wrap
			align-items: center
			margin-bottom: 70px

		strong
			min-width: 184px
			font-size: 21px
			font-weight: 900
			text-transform: uppercase

		span
			font-size: 29px
			color: $main
			font-weight: 300

.documents

	&-list
		max-width: 520px
		margin: 0 auto
		list-style: none

		li
			margin-bottom: 28px

		.btn
			width: 100%
			padding-top: 16px
			padding-bottom: 14px
			font-size: 25px
			font-weight: 800







.attach
	margin-bottom: 0

	input[type='file']
		display: none

.attach__item
	&:last-of-type
		margin-bottom: 0px
		border-bottom: none

	label
		display: block

.attach__up
	display: inline-block
	width: 100%
	padding-top: 16px
	padding-bottom: 14px
	font-size: 25px
	font-weight: 800
	text-align: center
	text-transform: uppercase
	border-radius: 38px
	color: #141414
	background: $main
	border: 0
	cursor: pointer


.attach__edit, .attach__delete
	display: none
	margin-right: 3px
	cursor: pointer

.attach__edit
	color: #2f7dfe
	

.attach__delete
	color: #000
	font-size: 24px

.attach__item--attached
	margin-bottom: 10px
	.attach__up
		display: none
	.attach__delete
		position: relative
		top: -1px
		display: inline-block
		vertical-align: middle

	.attach__name
		display: inline-block



.attach__input
	display: none

.attach__name
	display: block
	font-size: 16px
	line-height: 22px
	color: #000000



.partnership
	max-width: 1010px
	margin: 0 auto

	&-line
		padding-bottom: 50px

		&__header
			position: relative
			margin-bottom: 80px
			margin-right: 160px
			text-align: right


			span
				position: relative
				display: inline-block
				padding-right: 95px
				padding-left: 190px
				

				&:before, &:after
					content: ''
					position: absolute
					top: 16px
					height: 11px
					background: $main
					

				&:before
					left: 0
					border-radius: 10px 0 0 10px
					width: 175px

				&:after
					right: 0
					border-radius: 0 10px 10px 0
					width: 80px

	&-item
		position: relative
		padding: 10px 10px 30px
		margin-bottom: 50px
		min-height: 160px
		background: $main
		border-radius: 24px
		box-shadow: -22px -19px 0px 0px rgba(0, 0, 0, 0.1)

		&__header
			display: flex
			flex-wrap: wrap
			align-items: center
			margin-bottom: 5px

			&--icon
				display: flex
				align-items: center
				justify-content: center
				width: 58px
				height: 58px
				background: #fff
				border-radius: 50%

			strong
				width: calc(100% - 58px)
				padding-left: 10px
				font-size: 14px
				line-height: 14px
				font-weight: 900
		
		&__list
			list-style: none
			text-align: right

			li
				margin-bottom: 6px
				font-size: 11px
				font-weight: 900
				text-transform: uppercase

		&__cash
			position: absolute
			bottom: 10px
			right: 10px
			font-weight: bold
			font-size: 14px
			text-align: right

			.icon
				position: relative
				top: 1px
				margin-left: 3px
				width: 14px
				height: 14px
				background-size: contain
				border-radius: 0



.accrual
	padding: 30px

	.btn
		padding-left: 15px
		padding-right: 15px
		width: 100%

	&-value
		margin-bottom: 50px
		font-size: 31px
		line-height: 31px
		text-align: center
		font-weight: bold
		text-transform: uppercase
		color: $main


.refferal
	padding: 30px

	.sidebar-right__item--header
		margin-bottom: 70px

	&-value
		margin-bottom: 70px
		font-size: 25px
		line-height: 25px
		text-align: center
		font-weight: bold
		text-transform: uppercase
		color: $main

		a
			color: $main



.owl

	&-item
		display: inline-block
		vertical-align: middle

	&-stage-outer
		overflow: hidden
		width: 100%

	&-nav
		width: 280px
		position: absolute
		display: flex
		align-items: center
		justify-content: space-between
		bottom: 0
		left: 50%
		transform: translateX(-50%)
		z-index: 1

		.disabled 
			display: block
			opacity: 0.5
			cursor: not-allowed

		button
			border: none
			padding: 0px
			font-size: 0px
			background: transparent
			cursor: pointer
			z-index: 1

		.owl-prev
			&:after
				content: ""
				position: absolute
				border: 5px solid transparent
				border-right: 5px solid rgb(255, 255, 255)
				top: -13px
				left: 0px
				z-index: 1

		.owl-next
			&:after
				content: ""
				position: absolute
				border: 5px solid transparent
				border-left: 5px solid rgb(255, 255, 255)
				top: -13px
				right: 0px
				z-index: 1

	&-dots
		width: 240px
		display: flex
		align-items: center
		justify-content: center
		
		.owl-dot
			width: 5px
			height: 5px
			border-radius: 50%
			background-color: rgb(132, 132, 132)
			display: block
			margin: 0px 5px
			cursor: pointer
			border: none
			padding: 0px
			transition: 100ms

			&.active
				width: 7px
				height: 7px
				background: rgb(255, 255, 255)

.dots_wrap
	width: 100%
	display: flex
	align-items: center
	justify-content: center
	padding-top: 15px
	font-size: 14px
	font-weight: bold
	line-height: 1.21
	color: rgb(255, 255, 255)

.numSlidesDotscurr 
	padding-right: 25px
	border-right: 1px solid rgb(255, 255, 255)
	width: 50px

.numSlidesDotsAll
	padding-left: 25px
	border-left: 1px solid rgb(255, 255, 255)
	width: 50px




.pool

	&-item
		padding: 10px
		background: #000

		&__header
			margin-bottom: 15px
			font-size: 12px
			line-height: 1.21
			color: rgb(255, 255, 255)
			text-transform: uppercase
			padding-top: 5px


			span
				text-decoration: underline
				line-height: 16px


		.slider_automobile
			position: relative
			.owl-item
				position: relative

				&:before
					content: ""
					position: absolute
					bottom: 45%
					right: 10px
					width: 25px
					height: 25px
					background: url(../img/icon/icon-zoom.svg) center no-repeat
					background-size: 100% 100%
					opacity: 0.5
					transition: 300ms

				&:hover
					
					a.fancybox
						opacity: 1

					&:before
						opacity: 1

				img
					border-radius: 6px

		&__info
			height: 230px
			overflow-y: scroll
			padding-top: 34px
			color: #fff

			&::-webkit-scrollbar
				width: 3px
				background-color: #F5F5F5

			&::-webkit-scrollbar-thumb
				width: 3px
				background: rgb(204, 204, 204)

			&::-webkit-scrollbar-track
				box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3)
				border: 1px solid black
				background-color: #F5F5F5


		&__param
			display: flex
			flex-wrap: wrap
			margin-bottom: 16px

			.car-param
				margin-right: 28px
				margin-bottom: 14px

		&__text

			p
				margin-bottom: 12px
				font-size: 12px
				line-height: 16px

		&__video
			overflow: hidden
			position: relative
			width: 100%
			margin: 24px auto

			&:after
				content: ''
				padding-top: 56.25%
				display: block
				

			iframe
				position: absolute
				top: 0
				left: 0
				width: 100%
				height: 100%

		&__btn
			text-align: center

.car
	&-param
		display: flex
		align-items: flex-start

		&__icon
			max-width: 32px

			svg
				width: 32px

		&__text
			padding-left: 8px
			strong
				display: block
				margin-bottom: 2px

				i
					font-size: 10px

			span
				display: block
				text-align: right
				color: rgb(204, 204, 204)
				font-size: 10px

.color
	&-yellow
		color: $main

	&-white
		color: #fff


.article

	ul, ol
		padding-left: 15px
		padding-bottom: 16px

		li
			margin-bottom: 12px


	p
		margin-bottom: 16px
		line-height: 22px

	h2, .h2
		margin-bottom: 30px

	h3, .h3
		margin-bottom: 20px



.modal
	display: none
	padding: 50px 130px 80px
	border-radius: 10px
	background: #141414
	opacity: .9
	cursor: auto
	color: #fff

	&-verification
		max-width: 770px
		width: 100%

	&-investments
		max-width: 1040px

	.form
		&-item
			color: #000

.form

	&-item
		margin-bottom: 30px

		input
			display: inline-block
			width: 100%
			padding-top: 16px
			padding-bottom: 14px
			font-size: 25px
			font-weight: 800
			text-align: center
			text-transform: uppercase
			border-radius: 38px
			color: #141414
			background: $main
			border: 0
			cursor: pointer
			outline: none

		.attach
			input
				display: none

			&__name, &__delete
				color: #fff

			label
				width: 100%

		&__btn
			padding-top: 40px
			text-align: center

			.btn
				padding-top: 16px
				padding-bottom: 14px
				font-size: 25px
				font-weight: 800



select
	display: none

.jq-selectbox
	position: relative
	width: 90px
	top: -1px
	

	&__select
		width: 90px
			
	.jq-selectbox__select-text
		position: relative
		padding: 8px 0
		width: 100% !important
		background: #141414
		border-radius: 16px
		outline: none
		color: $main
		font-size: 10px
		font-weight: bold
		text-transform: uppercase


	.jq-selectbox__dropdown
		position: absolute
		top: 30px!important
		left: 0!important
		z-index: 999
		min-width: 100%
		max-width: 100%
		


		ul
			max-height: 145px !important
			list-style: none
			overflow-y: scroll
			border-top: none
			background: #141414
			border-radius: 6px


			li
				padding: 10px 18px
				font-size: 14px
				line-height: 18px
				border-bottom: 1px solid rgba(256,256,256, .8)
				color: #fff
				transition: all .3s
				cursor: pointer

				&:hover
					color: #fff


			&::-webkit-scrollbar-track
				-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3)
				background-color: #EBEBEB


			&::-webkit-scrollbar
				width: 6px
				
				border-radius: 2px


			&::-webkit-scrollbar-thumb
				border-radius: 10px
				-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.3)
				background: $main



.investments

	&-sort
		display: flex	
		align-items: center	
		justify-content: center
		text-align: center
		margin-bottom: 20px

		&__header
			padding-right: 20px
			font-size: 18px
			text-transform: uppercase
			font-weight: 900



	&-item
		margin-bottom: 30px
		border: 5px solid transparent
		border-top: 0
		border-radius: 43px 43px 0 0
		
		&__header
			display: flex
			align-items: center
			justify-content: space-between
			padding: 16px 25px
			background: $main
			border-radius: 56px

			&--name
				font-size: 18px
				font-weight: 900
				text-transform: uppercase

			&--right
				display: flex
				align-items: center

				.btn
					margin-left: 20px

			&--cash
				display: flex
				align-items: center

				.icon
					width: 20px
					height: 20px
					background-size: contain
					background-color: transparent
					border-radius: 0

				strong
					padding-left: 12px
					font-size: 27px
					font-weight: 900




		&__body
			display: none



		&.active
			border-color: $main

.chart
	min-height: 300px

	>div
		width: 100%
		height: 100%





.report

	.pool-item
		max-width: 570px
		margin: 0 auto 50px

		&__info
			height: 300px

	.highcharts-title
		font-size: 30px
		font-weight: 900
		text-transform: uppercase

.burger
	display: none






@media screen and (max-width: 1900px)

	.header
		height: 150px
		background-size: cover

	.logo
		max-width: 190px






@media screen and (max-width: 1599px)
	.header
		height: 120px
		background-size: cover

		&-wrap
			padding-top: 10px

		&-btn
			position: relative
			top: -6px

			.btn
				width: 180px

	.btn
		padding: 15px 30px 13px
		font-size: 12px

		&-user
			.icon
				height: 21px
				width: 18px
				background-size: contain

		&-transparent
			padding: 12px 30px 10px
			border-width: 3px

	.h1, h1
		margin-bottom: 50px
		font-size: 27px
		line-height: 27px

	h2,.h2
		font-size: 25px

	h3,.h3
		font-size: 20px
		line-height: 24px


	h4, .h4
		margin-bottom: 30px
		font-size: 18px
		line-height: 22px

	.sidebar
		&-left
			width: 294px
			height: 414px
			padding-left: 36px
			padding-top: 57px
			background-size: cover

		&-right
			width: 240px

			&__item
				margin-bottom: 28px

				&--header
					margin-bottom: 30px
					font-size: 22px
					line-height: 22px

	.accrual
		padding: 24px
		&-value
			margin-bottom: 30px
			font-size: 22px
			line-height: 22px

	.refferal
		padding: 24px

		.sidebar-right__item--header
			margin-bottom: 50px

		&-value
			margin-bottom: 50px
			font-size: 18px



	.main-menu
		li
			max-width: 200px
			a
				height: 44px
				padding-left: 38px
				font-size: 12px
				border: 4px solid #e8bb4c

				&:before
					left: 10px
					top: 8px
					width: 19px
					height: 19px

	.content

		&-main
			width: calc(100% - 546px)

	.user
		&-info
			min-height: 230px
			padding: 12px 24px 24px

			&__cash

				strong
					font-size: 27px

				.icon
					margin-right: 15px

		&-description
			padding: 15px 24px 30px

			.h4
				font-size: 16px

	.icon

		&-cash
			width: 43px
			height: 43px
			background-size: 59%


	*::-webkit-input-placeholder 
		font-size: 18px

	*:-moz-placeholder 
		font-size: 18px


	*::-moz-placeholder 
		font-size: 18px


	*:-ms-input-placeholder 
		font-size: 18px

	.profile
		&-form
			&__item
				margin-bottom: 14px

			&__field
				font-size: 18px
				border-width: 4px

			&__btn
				padding-top: 24px

	.partnership
		&-line
			padding-bottom: 30px

			[class^='col']
				width: 33.333%

		&-item
			margin-bottom: 35px

	.investment-item
		margin-bottom: 60px

		&__text
			p
				font-size: 14px

		&__img
			margin-bottom: 18px

	.modal
		padding: 35px 90px 50px
		max-width: 90%


















@media screen and (max-width: 1360px)

	.partnership
		&-line

			[class^='col']
				width: 50%

		&-item
			margin-bottom: 30px


	.documents-list 
		.btn
			font-size: 20px

	.attach__up
		font-size: 20px


	













@media screen and (max-width: 991px)
	.sidebar
		&-left
			display: none

		&-right
			margin: 0 auto

	.content
		&-wrap
			display: block

		&-main
			width: auto
			padding: 30px 15px 0
			margin-bottom: 50px


	.header
		height: auto
		padding: 15px 0
		background: #141414

		&-wrap
			padding: 0
			height: 50px
			align-items: flex-start

		&-btn
			position: static
			display: flex
			align-items: center
			flex-wrap: wrap
			.btn
				padding: 0
				border: 0
				width: auto
				display: flex
				align-items: center

				&-user

					&:before
						content: '/'
						display: inline-block
						margin-right: 12px
						vertical-align: middle

					.icon
						display: none

	.logo
		max-width: 110px

		img
			display: block

	.burger
		position: absolute
		display: block
		right: 15px
		bottom: 15px
		width: 30px

		span
			display: block
			height: 2px
			width: 100%
			margin-bottom: 4px
			background: $main
			border-radius: 2px

	.footer
		min-height: 100px
		background: #141414
		height: auto

	.mobile-menu
		display: block

	.partnership
		&-line

			[class^='col']
				width: 33.333%















@media screen and (max-width: 768px)
	
	.support
		&-list

			li
				margin-bottom: 36px

			span
				font-size: 16px
				font-weight: bold

			strong
				min-width: 118px
				font-size: 16px

	.partnership
		&-line
			&__header
				margin: 0 auto 50px
				text-align: center
				span
					padding: 0

					&:before, &:after
						display: none

			.row
				display: flex
				flex-wrap: wrap

			[class^='col']
				width: 50%


	.attach__up
		font-size: 16px

	.form
		&-item
			margin-bottom: 20px

			input
				font-size: 16px

			&__btn
				padding-top: 20px

				.btn
					font-size: 16px

			*::-webkit-input-placeholder 
				font-size: 16px

			*:-moz-placeholder 
				font-size: 16px


			*::-moz-placeholder 
				font-size: 16px


			*:-ms-input-placeholder 
				font-size: 16px

	.documents-list
		li
			margin-bottom: 20px

		.btn
			font-size: 16px

	.modal
		padding: 25px 50px 30px

		&-investments 
			padding: 0

	.investments-item__header
		flex-direction: column

		&--name
			margin: 0 0 10px















@media screen and (max-width: 479px)
	.partnership
		&-line

			[class^='col']
				width: 100%


	.form
		&-item
			margin-bottom: 20px

			input
				font-size: 12px

			&__btn

				.btn
					font-size: 12px

			*::-webkit-input-placeholder 
				font-size: 12px

			*:-moz-placeholder 
				font-size: 12px


			*::-moz-placeholder 
				font-size: 12px


			*:-ms-input-placeholder 
				font-size: 12px

		&-verification
			.attach__up
				font-size: 12px

			

	.modal
		padding: 25px 30px 30px

		&-verification

			.h1, h1
				margin-bottom: 30px

		&-investments 
			padding: 30px 0 0
			max-width: 100%

	.investments-item__header
		border-radius: 40px